{% extends 'bootstrap4/base.html' %}

{% load static %}

{% block content %}
<div id="calendar"></div>

<div id="dialog">
    <form method="post" action="{% url 'fullcalendar:add_event' %}">
        {% csrf_token %}
        <label for="title">Заголовок</label>
        <textarea id="title" name="title" autocomplete="off"></textarea>
        <label for="start">Начало</label>
        <input type="text" id="start" name="start"
               class="datetimepicker"
               autocomplete="off">
        <label for="end">Конец</label>
        <input type="text" id="end" name="end"
               class="datetimepicker"
               autocomplete="off">
        <label for="description">Описание</label>
        <textarea id="description" name="description" placeholder="Опционально"
                  autocomplete="off"></textarea>
        <input type="submit" value="OK" >
    </form>
</div>
{% endblock content %}
