{% extends 'appearance/base.html' %}

{% load static %}

{% block main %}

<form class="form-signin" style="margin:30%;" method="post" action="{% url 'users:login' %}">
  {% csrf_token %}
  <img class="mb-4" src="/docs/4.4/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
  <h1 class="h3 mb-3 font-weight-normal">Пожалуйста, войдите в свою учётную запись</h1>
  <label for="username" class="sr-only">Логин</label>
  <input type="text" id="username" class="form-control" placeholder="Login"
         required="" autofocus="" name="username">
  <label for="password" class="sr-only">Пароль</label>
  <input type="password" id="password" class="form-control"
         placeholder="Password" required="" name="password">
  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Запомнить меня
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
  <input type="hidden" name="next" value="{% url 'cources:index' %}">
</form>
<p class="mt-5 mb-3 text-muted">© 2020</p>


{% endblock main %}