

#calendar {
    max-width: 700px;
    margin: 30px auto;
}
#calendar .fc-day{
    transition: all .4s;
}

#calendar .fc-day-header{
    transition: all .4s;
    background-color: #f2f2f2;
}

#calendar .fc-day:hover{
    background: rgba(243, 128, 128, 0.3);;
}

#calendar .fc-event {
    color: #fff;
}

#calendar .fc-highlight:after{
    duration: 0.4;
}
